@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orelega+One&family=Playfair+Display:ital,wght@1,600&family=Roboto+Slab:wght@400;600&display=swap');

.f-orelega {
  font-family: 'Orelega One', cursive;
}

.f-play {
  font-family: 'Playfair Display', serif;
}

.f-roboto {
  font-family: 'Roboto Slab', serif;
}

.f-anton {
  font-family: 'Anton', sans-serif;
}

.item-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to left, #21a2fd 0%, #7967fe 100%);
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 10px #666;
}

.item-btn:hover {
  color: #dcdde1;
  transition: .5s;
  box-shadow: none;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}