@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orelega+One&family=Playfair+Display:ital,wght@1,600&family=Roboto+Slab:wght@400;600&display=swap');

.f-orelega {
  font-family: 'Orelega One', cursive;
}

.f-play {
  font-family: 'Playfair Display', serif;
}

.f-roboto {
  font-family: 'Roboto Slab', serif;
}

.f-anton {
  font-family: 'Anton', sans-serif;
}

.text-gadget {
  color: #4834d4;
}


.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.scrollTop {
  position: fixed;
  width: 44px;
  height: 44px;
  bottom: 50px;
  left: 90%;
  border-radius: 44px;
  align-items: right;
  justify-content: end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.contact {
  background-color: transparent !important;
  position: fixed;
  bottom: 30%;
  box-sizing: border-box !important;
  outline: none !important;
  left: 88%;
  border: none !important;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
}

.contact img {
  /* background-color: transparent !important; */
  width: 45px;
  height: 45px;
}

.contact:hover {
  opacity: 1;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.contact {
  background-color: transparent !important;
}

.contact img {
  /* background-color: transparent !important; */
  width: 45px;
  height: 45px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}